### Python Interview Programs

1. Print "Hello, World!"

In [2]:
print("Hello World!")

Hello World!

2. Swap two numbers without using a temporary variable

In [3]:
a = 2
b = 3

a = a+b
b = a-b
a = a-b

print(a)
print(b)

3
2

3. Check if a number is even or odd

In [5]:
n = 3

if n%2 == 0:
    print("Even")
else:
    print("Odd")

Odd

4. Find the factorial of a number

In [7]:
n = 5
f = 1

for i in range(1,n+1):
    f = f * i
    
print(f)

120

In [12]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

print(fact(5))

120

5. Sum of natural numbers using recursion

In [15]:
def sum_nat(n):
    if n == 1:
        return 1
    return n + sum_nat(n-1)

print(sum_nat(5))

15

6. Print the Fibonacci series up to n terms.

In [17]:
n = 6
a,b = 0,1

for i in range(n):
    print(a, end = ' ')
    a,b = b,a+b

0 1 1 2 3 5

7. Find the GCD of two numbers

In [19]:
def gcd(a,b):
    while b:
        a,b = b, a%b
    return a

x=36
y=60

print(gcd(x,y))

12

8. Find the LCM of two numbers

In [21]:
def gcd(a,b):
    while b:
        a,b = b, a%b
    return a
    
def lcm(a,b):
    return abs(a*b) // gcd(a,b)

x = 36
y = 60

print(lcm(x,y))

180

9. Check if a number is prime

In [1]:
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3,int(n**0.5)+1,2):
        if n % i == 0:
            return False
    return True
    
x=16
y=17
print(is_prime(x))
print(is_prime(y))

False
True

10. Print all prime numbers in a range

In [8]:
def isprime(n):
    if n<= 0:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3,int(n**0.5)+1,2):
        if n % i == 0:
            return False
    return True

def prime_range(start,end):
    for i in range(start,end+1):
        if isprime(i):         
           print(i, end = ' ')
    print()

start = 2
end = 17
prime_range(start, end)

2 3 5 7 11 13 17

11.  Code to Check if a Number is a Palindrome:

In [12]:
def is_Palindrome(n):
    n_str =  str(n)     # converting the number into string
    return n_str == n_str[::-1]

num = 121

if is_Palindrome(num):
    print("Yes")
else:
    print("No")

Yes

12 . Check if a string is palindrome

In [16]:
def is_Palindrome(s):
    s =  s.replace(" ","").lower() # converting into lower case
    return s == s[::-1]

s = "MALAYALAM"

if is_Palindrome(s):
    print("Yes")
else:
    print("No")

Yes

13. Check if two strings are anagram or not

In [2]:
def is_Anagram(str1, str2):
    str1 = str1.replace(" ","").lower()
    str2 = str2.replace(" ","").lower()

    return sorted(str1) == sorted(str2)

string1 = 'silent'
string2 = 'listen'

if is_Anagram(string1,string2):
    print("Anagram")
else:
    print("Not Anagram")

Anagram

14 . Count the number of digits in a number

In [1]:
def count_digits(n):
    n = abs(n)
    count = 0
    
    if n == 0:
        return 1
    while n > 0:
        n = n // 10
        count += 1
    return count

num = 1235
print(count_digits(num))

4

15. Sum of digits of a number

In [3]:
def total(n):
    n = abs(n)
    total = 0

    if n == 0:
        return 1
    while n > 0:
        total += n % 10
        n = n // 10
    return total

print(total(12345))

15

16. Reverse a number

In [2]:
def rev(n):                       ## using string conversion
    return int(str(n)[::-1])

n = 1234
print(rev(n))

4321

In [13]:
def reversed_num(n):
    reverse = 0
    while n > 0:
        digit = n % 10
        reverse =  reverse * 10 + digit
        n //= 10
    return reverse

num = 12345
print(reversed_num(num))

54321

17. Program to Check if a Number is Armstrong:

In [14]:
def is_Armstrong(n):
    n_str = str(n)
    power  =  len(n_str)
    total = sum(int(digit) ** power for digit in n_str)
    return total == n

num = 153

if is_Armstrong(num):
    print("Yes")
else:
    print("No")

Yes

18. Recursive Fibonacci Function --  Nth Fibonacci number

In [15]:
def fibonacci(n):
    if n <= 0:
        return "Invalid"
    elif n == 1:
        return 1
    elif n == 2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n = 7
print(fibonacci(n)) # The number 13 occur as 7th number

13

19 . Fiboanncu using recursion

In [18]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

num = 4

for i in range(num):
    print(fibonacci(i),end = ' ')

0 1 1 2

20. Count vowels and consonants in a string

In [1]:
def count_vowels_constants(s):
    s = s.lower()
    vowels = 'aeiou'
    v_count = 0
    c_count = 0

    for char in s:
        if char.isalpha():
            if char in vowels:
                v_count += 1
            else:
                c_count +=1
    return v_count,c_count

text = "Hello World"
v_count,c_count = count_vowels_constants(text)
print(f"The no of vowels : ", v_count)
print(f"The no of consonants: ",c_count)

The no of vowels :  3
The no of consonants:  7

21. Remove all vowels from a string

In [2]:
def remove(s):
    vowels = 'aeiouAEIOU'
    result = ''

    for char in s:
        if char not in vowels:
            result += char
    return result

text = "Dhanya"
result = remove(text)
print(result)

Dhny

22. Remove duplicate characters from a string

In [5]:
def remove_duplicates(s):
    result = ''
    seen = set()

    for char in s:
        if char not in seen:
            result += char
            seen.add(char)
    return result

text = "racecar"
result = remove_duplicates(text)
print(result)

race

23. Two Sum Leetcode

In [6]:
def two_sum(nums,target):
    seen = {}
    for i in range(len(nums)):
        num = nums[i]
        diff = target - num

        if diff in seen:
            return [seen[diff],i]
        seen[num] = i
    return []
nums = [2,7,12,13]
target = 9
print(two_sum(nums,target))

[0, 1]